* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    // height: 4293px;
    overflow-x: hidden;
    font-family: IvyEpic, sans-serif;
    position: relative;
}

.svg_wrapper svg {
    position: absolute;
    z-index: 1;
}

section .container {
    position: relative;
    background-color: transparent;
    z-index: 2;
}

#scrollingBox1,
#scrollingBox2,
#scrollingBox3 {
    position: absolute;
    width: 18px;
    height: 18px;
    fill: #453966;
    transform-origin: center center;
    transition: fill .3s;
}

.svg_wrapper {
    display: block;
    margin: auto;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    overflow: hidden;
}


.linha-1 {
    left: 18vw;
    top: 20px;

    path {
        opacity: .4;
    }
}

.linha-2 {
    right: 250px;
    top: 20px;

    path {
        opacity: .4;
    }
}

.linha-3 {
    right: 170px;
    top: 20px;

    path {
        opacity: .4;
    }
}

@media (min-width: 1830px) {

    .linha-1 {
        left: 420px;
        top: 0px;
    }

    .linha-2 {
        // right: 620px;
        right: 491px;
        top: 0px;
    }

    .linha-3 {
        right: 440px;
        top: 0px;
    }

    @-moz-document url-prefix() {
        .linha-1 {
            left: 20%;
            top: 0px;
        }

        .linha-2 {
            right: 26%;
            top: 0px;
        }

        .linha-3 {
            right: 23.5%;
            top: 0px;
        }
    }
}


.language-switcher {
    background-color: #453966;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000;

    p {
        color: #F2F2F2;
        font-family: IvyMode, serif;
        font-size: 25px;
        font-style: italic;
        font-weight: 400;
        line-height: 69.642px;
    }
}

.languages {
    margin: 40px;
    color: #B398FF;

    a,
    span,
    .close-lang {
        color: #B398FF;
        text-align: center;
        font-family: IvyEpic, sans-serif;
        font-size: 82.601px;
        font-style: normal;
        font-weight: 700;
        line-height: 89.462px;
        text-decoration: none;
        background-color: transparent;
        border: none;
        margin: 5px;
    }

    a,
    .close-lang {
        &:hover {
            color: white;
        }
    }
}

.languages button {
    cursor: pointer;
}

.scroll {
    overflow: hidden;
}

header {
    height: 80px;
    width: 100%;
    background-color: #453966;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    color: white;
    padding-left: 100px;
    padding-right: 100px;

    h3 {
        color: #E8E8E8;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2.4px;

        .roxo {
            color: #B398FF;
        }
    }

    .header-date {
        background-color: #b398ff;
        color: #453966;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2.4px;
        width: 157.829px;
        height: 29.338px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

section {
    padding: 50px 25px;

    &:not(.section-5) {
        min-height: 700px;
    }
}

.primary-section {
    background-color: #b398ff;
    text-align: center;
}

h2 span {
    font-family: IvyMode, serif;
    font-style: italic;
    font-weight: 400;
}

.bt-primary {
    background-color: #453966;
    color: #F2F2F2;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }
}

.container {
    text-align: center;
}

.logo_forum {
    display: block;
    margin: 40px auto;
    margin-top: 0;
    width: fit-content;

    svg {
        height: 87px;
        width: 334px;
        max-width: 100%;
    }
}

.section-1 {
    padding: 100px 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        border: 2px solid #453966;
        height: 540px;
        width: 80%;
        max-width: 1400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        width: 246px;
        margin: 60px auto;
        color: #2D2D2D;
        font-size: 15px;
        font-style: normal;
        font-weight: 325;
        line-height: 25px;
    }
}

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        margin: auto;
        width: fit-content;
        margin-bottom: 40px;
        color: #453966;
        text-align: center;
        font-size: 52.821px;
        font-weight: 600;
        line-height: 52.5px;
        /* 99.392% */
    }

    p {
        width: 278px;
        margin: auto;
        color: #453966;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 20px;
    }

    p.vamos {
        color: #B398FF;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 6px;
        text-transform: uppercase;
        margin-top: 60px;
        width: auto;
    }
}

.secondary-section {
    background-color: #f2f2f2;
}

.section-3 {
    background-color: #453966;
    color: white;
    padding: 120px 25px;

    h2 {
        color: #B398FF;
        text-align: center;
        font-size: 55px;
        font-weight: 500;
        line-height: 55px;
        margin-bottom: 40px;

        span {
            color: white;
        }
    }

    h4 {
        color: #F2F2F2;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        margin-top: 40px;
    }

    p {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
    }

    .caixa-data {
        width: 157.829px;
        height: 29.338px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px auto;
        border: 1px solid #B398FF;
        color: #B398FF;
        text-align: center;

        p {
            font-weight: 600;
            font-size: 12px;
            font-style: normal;
            line-height: normal;
            letter-spacing: 2.4px;
        }
    }



    strong {
        color: #B398FF;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
    }

    .bt-primary {
        background-color: #b398ff;
        margin: 40px auto 0 auto;
        color: #453966;
        position: relative;
        height: 41px;
        width: 281px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            position: absolute;
            content: '';
            display: block;
            box-sizing: border-box;
            height: inherit;
            width: inherit;
            top: -5px;
            left: -5px;
            height: 51px;
            width: 291px;
            border: 1.2px solid #b398ff;
        }
    }
}

.container {
    width: 960px;
    margin: auto;
    max-width: 100%;
}

// section 4
.section-4 {
    padding: 35px 25px;
}

.max-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 22.625rem;
    position: relative;
    margin: 0 auto;
    height: 87.375rem;
}

@media (min-width: 1020px) {
    .max-area {
        height: 47.5rem;
        max-width: 64rem;
    }
}

.hdn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.s-4 {
    background-color: #ffba6b;
    height: 97.375rem;
}

@media (min-width:1020px) {
    .s-4 {
        height: 47.5rem;
    }
}

.s-4 .max-area {
    position: relative;
    height: 100%;
}

@media (min-width:1020px) {
    .s-4 .max-area {
        min-height: initial;
    }
}

.s-4-title {
    position: absolute;
    display: block;
    top: .438rem;
    left: 3.5rem;
    width: 9.313rem;
    height: auto;
    color: #453966;
    text-align: left;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    /* 118.421% */
}

@media (min-width:1020px) {
    .s-4-title {
        top: 3.813rem;
        left: 10.563rem
    }
}

.s-4-date {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    width: 160px;
    height: 30px;
    font-weight: 600;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b398ff;
    background: #453966;
    top: 9.938rem;
    left: 3.5rem
}

.ingles-date {
    top: 7rem;
}

@media (min-width:1020px) {
    .s-4-date {
        top: 14.188rem;
        left: 10.438rem
    }
}

.s-4-footnote {
    font-size: .625rem;
    line-height: 1.25rem;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    display: block;
    bottom: 3.438rem;
    left: 1.875rem;
    max-width: 17.5rem;
    color: white;
}

@media (min-width:1020px) {
    .s-4-footnote {
        bottom: 7.313rem;
        left: 10.5rem;
        width: 165px;
    }
}

.s-4-list {
    padding: 0;
    list-style-type: none;
    z-index: 1;
    position: absolute;
    top: 13.563rem;
    width: 15.625rem;
    // left: 4.188rem;
    text-align: left;
}

@media (min-width:1020px) {
    .s-4-list {
        top: 3.125rem;
        right: 20.313rem;
        left: initial;
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.s-4-list-item {
    font-size: .875rem;
    line-height: 1.125rem;
    padding: .5rem 0;
    color: #453966;
}

.s-4-list-item.toggle-details {
    cursor: pointer
}

.s-4-list-item.toggle-details.active,
.s-4-list-item.toggle-details:active {
    font-style: italic;
    font-weight: 700
}

.s-4-list-item.toggle-details:focus,
.s-4-list-item.toggle-details:focus-visible,
.s-4-list-item.toggle-details:focus-within,
.s-4-list-item.toggle-details:hover {
    font-style: italic
}

.s-4-track {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    // background-color: #d9d9d9;
    transition: opacity .3s ease-in-out;
    width: 18.75rem;
    height: 19.375rem;
    top: 37.563rem;
    opacity: 0;

    &.desktop {
        display: none;
    }

    &.active {
        opacity: 1;
    }
}

@media (min-width:1020px) {
    .s-4-track {
        width: 15.313rem;
        height: 24.688rem;
        top: 3.563rem;
        right: 4.063rem
    }
}

.s-4-track.b-loaded {
    transition: opacity .3s ease-in-out;
    opacity: 0
}

.s-4-track.b-loaded.active {
    opacity: 1
}

.s-4-details {
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease-out;
    top: 56.9rem;
    max-width: 18.75rem;
    text-align: left;
    line-height: 25px;
}

@media (min-width:1020px) {
    .s-4-details {
        top: 28.25rem;
        max-width: 31.938rem;
        width: 100%;
        right: 4.063rem
    }
}

.s-4-details.active {
    opacity: 1;
}

.s-4-details-title {
    position: relative;
    display: block;
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 1.938rem 2.438rem 1.625rem;
    color: #453966;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

@media (min-width:1020px) {
    .s-4-details-title {
        padding: 1.375rem 4.938rem 1.188rem
    }
}

.s-4-details-title-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%
}

.s-4-details-title strong {
    display: inline-block
}

.s-4-details-title-next,
.s-4-details-title-prev {
    transition: ease-out .3s;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: 0;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 200%
}

.s-4-details-title-next:focus svg,
.s-4-details-title-next:hover svg,
.s-4-details-title-prev:focus svg,
.s-4-details-title-prev:hover svg {
    stroke: #2d2d2d
}

.s-4-details-title-next {
    right: -3.75rem
}

@media (min-width:1020px) {
    .s-4-details-title-next {
        right: -5rem
    }
}

.s-4-details-title-next svg {
    right: 1.875rem
}

@media (min-width:1020px) {
    .s-4-details-title-next svg {
        right: 1.688rem
    }
}

.s-4-details-title-prev {
    left: 1.875rem
}

@media (min-width:1020px) {
    .s-4-details-title-prev {
        left: -5rem
    }
}

.s-4-details-title-prev svg {
    left: -3.75rem
}

@media (min-width:1020px) {
    .s-4-details-title-prev svg {
        left: 1.688rem
    }
}

.s-4-details-title svg {
    stroke: #B398FF;
    width: .813rem;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.s-4-details-by {
    position: relative;
    font-size: .938rem;
    line-height: 1.375rem;
    margin: 1.438rem 0 .625rem;
    font-weight: 400;
    color: #453966;
    background-color: rgba(179, 152, 255, .8);
}

.s-4-details-by strong {
    font-weight: 700
}

.s-4-details-desc {
    color: #453966;
    position: relative;
    background-color: rgba(179, 152, 255, .8);
}

.section-5 {
    padding: 60px 25px;

    p.very-big {
        color: #453966;
        text-align: center;
        font-family: IvyMode;
        font-size: 65px;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        margin-bottom: 50px;
        /* 151.761% */
    }

    .duvidas-title {
        color: #453966;
        font-size: 40px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 25px;

        span {
            color: #453966;
            text-align: center;
            font-size: 28px;
            font-style: italic;
            font-weight: 400;
            line-height: 65.975px;
            /* 263.901% */
        }
    }

    p {
        color: #453966;
        text-align: center;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 10px;
        text-transform: lowercase;
    }
    p.bg {
        background-color: rgba(242, 242, 242, .3);
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}

footer {
    padding: 20px 0;
    background-color: #453966;
    min-height: 520px;
    color: white;
    text-transform: uppercase;
    text-align: center;

    h4 {
        color: #F2F2F2;
        // font-family: IvyEpic;
        font-size: 11px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 2px;
        margin-top: 20px;
        margin-bottom: 10px;

        b {
            font-weight: 800;
        }
    }

    .footer_logo {
        margin: 12px;
        position: relative;
        z-index: 10;
        // background-color: #453966;
    }

    .logo_gov {
        margin-bottom: 7px;
    }

    .logo_min_mobile {
        display: none;
    }

    .footer_flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin: auto;
        border-left: 1px solid white;
        border-right: 1px solid white;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 30px;
        margin-right: 30px;

        .mobile_flex {
            flex-direction: row;
            padding: 0;
            margin: 0;
            border-left: none;
            border-right: none;

        }
    }

    .footer_flex-2 {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: auto;
    }

    .border {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin-left: 10px;
        padding-left: 10px;
        margin-right: 10px;
        padding-right: 10px;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
}

.logo_mobile {
    display: none;
}


@media (max-width:1440px) {
    .linha-1 {
        left: 150px;
    }

    .linha-2 {
        right: 250px;
    }

    .linha-3 {
        right: 170px;
    }
}

@media (max-width: 1024px) {
    header {
        padding-left: 50px;
        padding-right: 50px;

        h3 {
            font-size: 14px;
        }
    }

    .section-1 {
        padding: 60px 15px;
    }

    .linha-1 {
        left: -200px;
        top: 170px;
    }

    .linha-2 {
        right: -100px;
        top: 80px;
    }

    .linha-3 {
        right: -100px;
    }

    section {
        padding: 80px 15px;

        &:not(.section-5) {
            min-height: unset;
        }
    }

    .section-2 {

        h2 {
            margin-bottom: 30px;
            font-size: 42px;
        }

        p.vamos {
            margin-top: 30px;
        }
    }

    .logo_desktop {
        display: none;
    }

    .logo_mobile {
        display: block;
    }

    .section-3 {

        h2 {
            margin-bottom: 25px;
        }

        h4 {
            margin-top: 25px;
        }
    }

    footer {
        h4 {
            margin-bottom: 0;
        }
    }
}

@media (max-width:700px) {
    .language-switcher {
        flex-direction: column;
    }
}

@media (max-width:600px) {
    .svg_wrapper {
        display: none;
    }

    body {
        overflow-x: auto;
    }

    header {
        padding-left: 15px;
        padding-right: 15px;

        h3 {
            margin: 0 10px;
            font-size: 9px;
            line-height: 16px;
        }

        .header-date {
            font-size: 9px;
        }
    }

    .section-1 {

        .logo_forum {
            width: 224px;
        }

        .container {
            width: 100%;
            padding: 60px 15px;
        }

        p {
            max-width: 180px;
        }
    }

    .bt-primary {
        font-size: 12px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .footer_flex-2 {
            flex-direction: column;
            padding: 0;
        }

        .footer_flex {
            flex-direction: column;
            border-left: none;
            border-right: none;
            margin: 0;
        }

        .footer_flex:not(.mobile_flex) {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            width: fit-content;
            margin: 10px 0;
            padding: 10px 0;
        }

        .mobile_flex {
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
        }

        .border {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            border-left: none;
            border-right: none;
            padding: 10px 0;
            margin: 10px 0;
        }

        .logo_min_mobile {
            display: unset;
        }

        .logo_min_desktop {
            display: none;
        }
    }
}